.App {
  margin: auto;
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
}

.Header > h1 {
  text-transform: uppercase;
}

.Backdrop {
  height: 100vh;
  background: rgba(92, 110, 153, 0.2);
  backdrop-filter: blur(3px);
}

.None {
  background: #ffffff;
}
